#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_CUSTOM

comment "----- hn70ap board features -----"

config ARCH_HAVE_LEDS
	bool
	default y

config HN70AP_HWDEBUG_BLINK
	bool "Just Blink leds instead of starting NuttX"

config HN70AP_SCREEN
	bool "Enable OLED screen (requires I2C3)"

config HN70AP_ETHERNET
	bool "Enable Ethernet (requires ETHMAC)"
	select ARCH_PHY_INTERRUPT if NETDEVICES

if HN70AP_ETHERNET

config HN70AP_ETHERNET_EEMAC
	bool "Load MAC address from 24AA02E48 EEPROM"
	depends on HN70AP_EEPROM

endif

config HN70AP_RADIO
	bool

config HN70AP_MAINRADIO
	bool "Enable main radio (requires SPI4)"
	select HN70AP_RADIO

if HN70AP_MAINRADIO

config HN70AP_MAINRADIO_TCXO
	bool "Clock provided by TCXO / External clock"

endif

config HN70AP_AUXRADIO
	bool "Enable aux radio (requires SPI4)"
	select HN70AP_RADIO

if HN70AP_AUXRADIO

config HN70AP_AUXRADIO_HIGHPOWER
	bool "Board has a high-power RF4463 module instead of a RFM26"

endif

endif # ARCH_BOARD_HN70AP
