#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config HN70AP_TXT
	bool "TX test"
	default y
	---help---
		Test Radio Transmission.

if HN70AP_TXT

config HN70AP_TXT_PROGNAME
	string "Program name"
	default "txt"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config HN70AP_TXT_PRIORITY
	int "txt task priority"
	default 100

config HN70AP_TXT_STACKSIZE
	int "txt stack size"
	default 2048

endif
