#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config HN70AP_CONFIG
	bool "system configuration app"
	default n
	---help---
		The config app manages the system settings.

if HN70AP_CONFIG

config HN70AP_CONFIG_PROGNAME
	string "Program name"
	default "config"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config HN70AP_CONFIG_PRIORITY
	int "config task priority"
	default 100

config HN70AP_CONFIG_STACKSIZE
	int "config stack size"
	default 2048

endif
