#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config HN70AP_UPDATE
	bool "Update tool"
	default n
	---help---
		This tool can be used to update the on board firmware.

if HN70AP_UPDATE

config HN70AP_UPDATE_PROGNAME
	string "Program name"
	default "status"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config HN70AP_UPDATE_PRIORITY
	int "update tool task priority"
	default 100

config HN70AP_UPDATE_STACKSIZE
	int "update tool stack size"
	default 2048

endif
